.App {
  text-align: center;
  width: 98vw;
}
.header {
  height: 20vh;
  text-align: center;
  vertical-align: middle;
  line-height: 20vh;
  border: 1px solid;
}
.section {
  display: inline-block;
  vertical-align: top;
  border: 1px solid;
  height: 60vh;
}
.w-50 {
  width: calc(50% - 2px);
}